<%- include('./include/_head') %>
<div class="l-wrapper">
  <%- include('./include/_header') %>
  <main class="l-main">
    <section class="p-top-kv">
      <div class="c-kv">
        <h1 class="c-kv-title">一棟丸ごとフレキシブルオフィス</h1>
        <p class="c-kv-lead">
様々なフェーズの”働く”が交差するワークプレイス<br>
<br>
「高田馬場」駅 歩3分<br>
“Colony#15” 2022年7月NEW OPEN
        </p>
        <div class="c-kv-button">
          <a href="" class="c-button-primary">
            <img src="/assets/images/icon-number-15.svg" alt="15">
            JR高田馬場駅からのアクセス
          </a>
        </div>
      </div>
    </section>
    <section class="p-top-about">
      <div class="p-top-about-inner">
        <div class="c-card-article">
          <h2 class="c-card-article-title">About Colony#</h2>
          <p class="c-card-article-text">
            フリーランス、副業、土日の勉強、テレワーク等様々なシチュエーションに対応した、空間とメニュー。<br>
            <br>
            そして、仕事も趣味も共有し高めあえる、ゆるくて暖かいコミュニティ。<br>
            あなたの近くの、「誰かと出会える」ワークプレイス。<br>
            <br>
            それがエー・ディー・ワークスのフレキシブルオフィスシリーズ「Colony＃」です。
          </p>
        </div>
        <article class="p-top-about-vision">
          <h2 class="c-title-bar"><img src="/assets/images/text-vision.svg" alt="VISION"></h2>
          <p class="p-top-about-vision-head"></p>
        </article>
      </div>
    </section>
  </main>
  <%- include('./include/_footer') %>  
</div>
