<%- include('./include/_head') %>
<div class="l-wrapper">
  <%- include('./include/_header') %>
  <main class="l-main">
    <section class="p-top-kv">
      <div class="c-kv">
        <h1 class="c-kv-title">一棟丸ごとフレキシブルオフィス</h1>
        <p class="c-kv-lead">
様々なフェーズの”働く”が交差するワークプレイス<br>
<br>
「高田馬場」駅 歩3分<br>
“Colony#15” 2022年7月NEW OPEN
        </p>
        <div class="c-kv-button">
          <a href="" class="c-button-primary">
            <img src="/assets/images/icon-number-15.svg" alt="15">
            JR高田馬場駅からのアクセス
          </a>
        </div>
      </div>
    </section>
    <section class="p-top-about">
      <div class="p-top-about-inner">
        <div class="c-card-article">
          <h2 class="c-card-article-title">About Colony#</h2>
          <p class="c-card-article-text">
            フリーランス、副業、土日の勉強、テレワーク等様々なシチュエーションに対応した、空間とメニュー。<br>
            <br>
            そして、仕事も趣味も共有し高めあえる、ゆるくて暖かいコミュニティ。<br>
            あなたの近くの、「誰かと出会える」ワークプレイス。<br>
            <br>
            それがエー・ディー・ワークスのフレキシブルオフィスシリーズ「Colony＃」です。
          </p>
        </div>
        <article class="p-top-vision">
          <h2 class="c-title-bar"><img src="/assets/images/text-vision.svg" alt="VISION"></h2>
          <p class="p-top-vision-head">目指したい風景</p>
          <p class="p-top-vision-lead">働く場所はどこでもいい。それなら、<em class="c-underline">「誰かと出会える」</em>Colony＃で</p>
          <div class="p-top-vision-image">
            <img src="/assets/images/image-vision-photo1.jpg" alt="">
          </div>
          <p class="p-top-vision-text">
様々なフェーズの個性豊かな人々が集まり、時には仕事のきっかけが、なんでも聞ける先生が、<br>
飲み友達、キャンプ仲間、生涯のビジネスパートナーと出会ってしまう。<br>
刺激が共感を生み、反響し、また新たな刺激を生む。成長の循環。そんな場づくりを目指しています。
          </p>
        </article>
      </div>
    </section>
    <section class="p-top-merit">
      <div class="p-top-merit-kv">
        <h2 class="c-title-kv">メリット</h2>
      </div>
      <article class="p-top-merit-inner">
        <h2 class="c-title-bar">
          <img src="/assets/images/icon-ribbon.svg" alt="" width="42" height="57" class="c-title-bar-icon">
          共創できる環境
        </h2>
        <div class="p-top-merit-image">
          <img src="/assets/images/image-merit-illust1.png" alt="" width="541" height="225">
        </div>
        <p class="p-top-merit-text">
          会員様のお仕事内容やプロフィールを可視化することにより、ビジネスマッチングを加速し仕事の可能性を拡大します。また、イベントを通じて、お互いのビジネスを拡大し合えるコミュニティづくりをサポートします。
        </p>
        <div class="c-card-feature-block">
          <div class="c-card-feature">
            <h3 class="c-card-feature-title">
              <img src="/assets/images/icon-ribbon.svg" alt="" width="13" height="18" class="c-card-feature-icon">
              シンプルな費用体系
            </h3>
            <div class="c-card-feature-content">
              <p class="c-card-feature-text">
水光熱費・ネット費・ごみ処理費など諸経費は全て月額賃料に含まれています。<br>
必要な費用は料金に含んでいるため、固定費を抑えることができます。
              </p>
            </div>
          </div>
          <div class="c-card-feature">
            <h3 class="c-card-feature-title">
              <img src="/assets/images/icon-ribbon.svg" alt="" width="13" height="18" class="c-card-feature-icon">
              シンプルな費用体系
            </h3>
            <div class="c-card-feature-content">
              <p class="c-card-feature-text">
水光熱費・ネット費・ごみ処理費など諸経費は全て月額賃料に含まれています。<br>
必要な費用は料金に含んでいるため、固定費を抑えることができます。
              </p>
            </div>
          </div>
        </div>
      </article>  
    </section>
    <section class="p-top-floor">
      <h2 class="c-title-kv">館内詳細</h2>
      <div class="p-top-floor-inner l-inner">
        <section class="p-top-floor-section">
          <h3 class="p-top-floor-title c-title-square">シェアオフィス</h3>
          <article class="c-card-floor">
            <div class="c-card-floor-head">
              <h4 class="c-card-floor-title">B1F MOKU²</h4>
              <div class="c-card-floor-icon">
                <img src="/assets/images/icon-floor1.svg" alt="" width="105" height="77">
              </div>
            </div>
            <div class="c-card-floor-block">
              <div class="c-card-floor-kv">
                <img src="/assets/images/image-floor-photo1.jpg" alt="" width="830" height="520">
              </div>
              <div class="c-card-floor-detail">
                <div class="c-card-floor-illust">
                  <img src="/assets/images/image-floor-illust1.png" alt="" width="225" height="169">
                </div>
                <p class="c-card-floor-text">
                  1名〜2名の個室からなるシェアオフィス。人との繋がりも欲しいけど、集中して仕事ができる環境を求めている起業家やフリーランスの方にオススメです。中央には本棚があり、情報の収集、共有が可能。1階の共用ラウンジ、館内ビジネスマッチングサービス、登記、郵便物の受け取りサービスも利用可能です。
                </p>
              </div>
              <div class="c-label-wings c-card-floor-button">
                <a href="" class="c-button-primary is-small">PLAN&PLICE</a>
              </div>
            </div>
          </article>
        </section>
        <section class="p-top-floor-section">
          <h3 class="p-top-floor-title c-title-square">シェアラウンジ</h3>
          <article class="c-card-floor">
            <div class="c-card-floor-head">
              <h4 class="c-card-floor-title">1F WAKU²</h4>
              <div class="c-card-floor-icon">
                <img src="/assets/images/icon-floor2.svg" alt="" width="126" height="76">
              </div>
            </div>
            <div class="c-card-floor-block">
              <div class="c-card-floor-kv">
                <img src="/assets/images/image-floor-photo2.jpg" alt="" width="830" height="460">
              </div>
              <div class="c-card-floor-detail">
                <div class="c-card-floor-illust">
                  <img src="/assets/images/image-floor-illust2.png" alt="" width="224" height="168">
                </div>
                <p class="c-card-floor-text">
                  入居者専用の共用ラウンジになっており、無料で利用が可能です。社内外を問わず、イベントを開催する際は貸切も可能。会議室は登壇スペースに早変わり。企業として発信を行いたい／社外と繋がりたいをサポートします。
                </p>
              </div>
              <div class="c-label-wings c-card-floor-button">
                <a href="" class="c-button-primary is-small">PLAN&PLICE</a>
              </div>
            </div>
          </article>
        </section>
      </div>
    </section>
    <section class="p-top-price">
      <h2 class="c-title-kv">PLAN & PRICE</h2>
      <div class="p-top-price-inner l-inner">
        <div class="p-top-price-block">
          <article class="c-card-plan p-top-price-item">
            <h3 class="c-card-plan-title">
              <span class="c-title-square is-small">B1F</span>
              <span class="c-card-plan-title-text">DROP IN</span>
            </h3>
            <div class="c-table-border">
              <table>
                <tbody>
                  <tr>
                    <td>1H</td>
                    <td>1日最大</td>
                  </tr>
                  <tr>
                    <td>〜600円(税込)</td>
                    <td>〜2,200円(税込)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>
          <p class="p-top-price-buttons">
            <a href="" class="c-button-border">B1Fの館内詳細</a>
          </p>
        </div>
        <div class="p-top-price-block">
          <article class="c-card-plan p-top-price-item">
            <h3 class="c-card-plan-title">
              <span class="c-title-square is-small">1F</span>
              <span class="c-card-plan-title-text">DROP IN</span>
            </h3>
            <div class="c-table-border">
              <table>
                <tbody>
                  <tr>
                    <td>1H</td>
                    <td>1日最大</td>
                  </tr>
                  <tr>
                    <td>〜600円(税込)</td>
                    <td>〜2,200円(税込)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>
          <article class="c-card-plan p-top-price-item">
            <h3 class="c-card-plan-title">
              <span class="c-title-square is-small">1F</span>
              <span class="c-card-plan-title-text">Co-WORK</span>
            </h3>
            <div class="c-table-border">
              <table>
                <tbody>
                  <tr>
                    <td>月額</td>
                  </tr>
                  <tr>
                    <td>22,000円(税込)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>
          <p class="p-top-price-buttons">
            <a href="" class="c-button-border">1Fの館内詳細</a>
          </p>
        </div>
        <div class="p-top-price-block">
          <article class="c-card-plan p-top-price-item">
            <h3 class="c-card-plan-title">
              <span class="c-title-square is-small">2F</span>
              <span class="c-card-plan-title-text">SAMLL SETUP OFFICE</span>
            </h3>
            <div class="c-table-border">
              <table>
                <tbody>
                  <tr>
                    <td>2F-A</td>
                    <td>2F-B</td>
                  </tr>
                  <tr>
                    <td>10.54坪</td>
                    <td>14.18坪</td>
                  </tr>
                </tbody>
              </table>
              <p>詳細はお問い合わせください</p>
            </div>
          </article>
          <p class="p-top-price-buttons">
            <a href="" class="c-button-border">2Fの館内詳細</a>
            <a href="" class="c-button-border">お問い合わせ</a>
          </p>
        </div>
        <div class="p-top-price-block">
          <article class="c-card-plan p-top-price-item">
            <h3 class="c-card-plan-title">
              <span class="c-title-square is-small">3-5F</span>
              <span class="c-card-plan-title-text">SETUP OFFICE</span>
            </h3>
            <div class="c-table-border">
              <table>
                <tbody>
                  <tr>
                    <td>3F</td>
                    <td>4F</td>
                    <td>5F</td>
                  </tr>
                  <tr>
                    <td>24.75坪</td>
                    <td>24.75坪</td>
                    <td>16.00坪</td>
                  </tr>
                </tbody>
              </table>
              <p>詳細はお問い合わせください</p>
            </div>
          </article>
          <p class="p-top-price-buttons">
            <a href="" class="c-button-border">3-5Fの館内詳細</a>
            <a href="" class="c-button-border">お問い合わせ</a>
          </p>
        </div>
      </div>
    </section>
    <section class="p-top-map">
      <div class="p-top-map-inner l-inner">
        <h2 class="c-title-bar">ACCESS</h2>
        <article class="c-card-map">
          <div class="c-card-map-detail">
            <h3 class="c-card-map-title">フレキシブルオフィスColony#15高田馬場</h3>
            <p class="c-card-map-text">
〒169-0075<br>
東京都新宿区高田馬場一丁目29-1<br>
<br>
ＪＲ山手線/東京メトロ東西線/西武新宿線「高田馬場」駅　戸山口(JR東側)徒歩3分 
            </p>
          </div>
          <div class="c-card-map-image">
            <img src="/assets/images/image-map.svg" width="390" height="332">
          </div>
        </article>
      </div>

    </section>
  </main>
  <%- include('./include/_footer') %>  
</div>
