<%- include('./include/_head') %>
<div class="l-wrapper" id="top">
  <%- include('./include/_header') %>
  <main class="l-main">
    <section class="p-top-kv">
      <div class="c-kv">
        <h1 class="c-kv-title">一棟丸ごとフレキシブルオフィス</h1>
        <p class="c-kv-lead">
様々なフェーズの”働く”が交差するワークプレイス<br>
<br>
「高田馬場」駅 歩3分<br>
“Colony#15” 2022年7月NEW OPEN
        </p>
      </div>
      <div class="p-top-kv-button">
        <a href="#access" class="c-button-primary">
          <img src="./assets/images/icon-number-15.svg" alt="15" width="34" height="24" class="c-title-bar-number">
          JR高田馬場駅からのアクセス
        </a>
      </div>
    </section>
    <section class="p-top-about" id="concept">
      <div class="p-top-about-inner">
        <div class="c-card-article">
          <h2 class="c-card-article-title">About Colony#</h2>
          <p class="c-card-article-text">
            フリーランス、副業、土日の勉強、テレワーク等様々なシチュエーションに対応した、空間とメニュー。<br>
            <br>
            そして、仕事も趣味も共有し高めあえる、ゆるくて暖かいコミュニティ。<br>
            あなたの近くの、「誰かと出会える」ワークプレイス。<br>
            <br>
            それがエー・ディー・ワークスのフレキシブルオフィスシリーズ「Colony＃」です。
          </p>
        </div>
        <article class="p-top-vision">
          <h2 class="p-top-vision-title c-title-bar"><img src="./assets/images/text-vision.svg" alt="VISION" width="92" height="20"></h2>
          <p class="p-top-vision-head">目指したい風景</p>
          <p class="p-top-vision-lead">働く場所はどこでもいい。それなら、<em class="c-decoration-underline">「誰かと出会える」</em>Colony＃で</p>
          <div class="p-top-vision-image">
            <img src="./assets/images/image-vision-photo1.jpg" alt="" width="970" height="485">
          </div>
          <p class="p-top-vision-text">
様々なフェーズの個性豊かな人々が集まり、時には仕事のきっかけが、なんでも聞ける先生が、<br>
飲み友達、キャンプ仲間、生涯のビジネスパートナーと出会ってしまう。<br>
刺激が共感を生み、反響し、また新たな刺激を生む。成長の循環。そんな場づくりを目指しています。
          </p>
        </article>
      </div>
    </section>
    <section class="p-top-merit" id="merit">
      <div class="p-top-merit-kv">
        <h2 class="c-title-kv">メリット</h2>
      </div>
      <article class="p-top-merit-inner">
        <h2 class="p-top-merit-title c-title-bar">
          <img src="./assets/images/icon-ribbon.svg" alt="" width="42" height="57" class="c-title-bar-icon">
          共創できる環境
        </h2>
        <div class="p-top-merit-image">
          <img src="./assets/images/image-merit-illust1.png" alt="" width="541" height="225">
        </div>
        <p class="p-top-merit-text">
          会員様のお仕事内容やプロフィールを可視化することにより、ビジネスマッチングを加速し仕事の可能性を拡大します。また、イベントを通じて、お互いのビジネスを拡大し合えるコミュニティづくりをサポートします。
        </p>
        <div class="c-card-feature-block">
          <div class="c-card-feature">
            <h3 class="c-card-feature-title">
              <img src="./assets/images/icon-ribbon.svg" alt="" width="13" height="18" class="c-card-feature-icon">
              シンプルな費用体系
            </h3>
            <div class="c-card-feature-content">
              <p class="c-card-feature-text">
水光熱費・ネット費・ごみ処理費など諸経費は全て月額賃料に含まれています。<br>
必要な費用は料金に含んでいるため、固定費を抑えることができます。
              </p>
            </div>
          </div>
          <div class="c-card-feature">
            <h3 class="c-card-feature-title">
              <img src="./assets/images/icon-ribbon.svg" alt="" width="13" height="18" class="c-card-feature-icon">
              成長後も同じ場所で
            </h3>
            <div class="c-card-feature-content">
              <p class="c-card-feature-text">
個室ブース、5～8人用オフィス、11～21人用オフィスをご用意しています。<br>
ビジネスの成長に応じて、同施設内で移転することで引越費用を抑えることができます。
              </p>
            </div>
          </div>
        </div>
      </article>  
    </section>
    <section class="p-top-floor" id="floor">
      <h2 class="c-title-kv">館内詳細</h2>
      <div class="p-top-floor-inner l-inner">
        <section class="p-top-floor-section" id="floor-b1">
          <h3 class="p-top-floor-title c-title-square">シェアオフィス</h3>
          <article class="c-card-floor">
            <div class="c-card-floor-head">
              <h4 class="c-card-floor-title">B1F MOKU²</h4>
              <div class="c-card-floor-icon">
                <img src="./assets/images/icon-floor1.png" alt="" width="106" height="79">
              </div>
            </div>
            <div class="c-card-floor-block">
              <div class="c-card-floor-kv">
                <img src="./assets/images/image-floor-photo1.jpg" alt="" width="830" height="520">
              </div>
              <div class="c-card-floor-detail">
                <div class="c-card-floor-illust">
                  <img src="./assets/images/image-floor-illust1.png" alt="" width="225" height="169">
                </div>
                <p class="c-card-floor-text">
                  1名〜2名の個室からなるシェアオフィス。人との繋がりも欲しいけど、集中して仕事ができる環境を求めている起業家やフリーランスの方にオススメです。中央には本棚があり、情報の収集、共有が可能。1階の共用ラウンジ、館内ビジネスマッチングサービス、登記、郵便物の受け取りサービスも利用可能です。
                </p>
              </div>
              <div class="c-label-wings c-card-floor-button">
                <a href="#price-b1" class="c-button-primary is-small">PLAN & PRICE</a>
              </div>
            </div>
          </article>
        </section>
        <section class="p-top-floor-section" id="floor-1">
          <h3 class="p-top-floor-title c-title-square">シェアラウンジ</h3>
          <article class="c-card-floor">
            <div class="c-card-floor-head">
              <h4 class="c-card-floor-title">1F WAKU²</h4>
              <div class="c-card-floor-icon">
                <img src="./assets/images/icon-floor2.png" alt="" width="126" height="76">
              </div>
            </div>
            <div class="c-card-floor-block">
              <div class="c-card-floor-kv">
                <img src="./assets/images/image-floor-photo2.jpg" alt="" width="830" height="461">
              </div>
              <div class="c-card-floor-detail">
                <div class="c-card-floor-illust">
                  <img src="./assets/images/image-floor-illust2.png" alt="" width="224" height="168">
                </div>
                <p class="c-card-floor-text">
                  入居者専用の共用ラウンジになっており、無料で利用が可能です。社内外を問わず、イベントを開催する際は貸切も可能。会議室は登壇スペースに早変わり。企業として発信を行いたい／社外と繋がりたいをサポートします。
                </p>
              </div>
              <div class="c-label-wings c-card-floor-button">
                <a href="#price-1" class="c-button-primary is-small">PLAN & PRICE</a>
              </div>
            </div>
          </article>
        </section>
        <section class="p-top-floor-section" id="floor-2">
          <h3 class="p-top-floor-title c-title-square">スモールスタートアップオフィス</h3>
          <article class="c-card-floor">
            <div class="c-card-floor-head">
              <h4 class="c-card-floor-title">2F GACHI²</h4>
              <div class="c-card-floor-icon">
                <img src="./assets/images/icon-floor3.png" alt="" width="187" height="76">
              </div>
            </div>
            <div class="c-card-floor-block">
              <div class="c-card-floor-kv">
                <img src="./assets/images/image-floor-photo3.jpg" alt="" width="830" height="552">
              </div>
              <div class="c-card-floor-detail">
                <div class="c-card-floor-illust">
                  <img src="./assets/images/image-floor-illust3.png" alt="" width="224" height="168">
                </div>
                <p class="c-card-floor-text">
                  二つの企業が利用できるオフィスはこのフロアだけ。共用のスモールラウンジを活用し、情報共有や意見交換を図ることができます。お互いに刺 激し合い、新たな発想が得られたり、企業力を高めあうことにもつながります。登記、郵便物の受け取りサービス、館内ビジネスマッチングサービス、1階の共用ラウンジ、2階ラウンジ内のワークブースの利用も可能です。
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="p-top-floor-section" id="floor-3">
          <h3 class="p-top-floor-title c-title-square">セットアップオフィス</h3>
          <article class="c-card-floor">
            <div class="c-card-floor-head">
              <h4 class="c-card-floor-title">3F PATA²</h4>
              <div class="c-card-floor-icon">
                <img src="./assets/images/icon-floor4.png" alt="" width="171" height="76">
              </div>
            </div>
            <div class="c-card-floor-block">
              <div class="c-card-floor-kv">
                <img src="./assets/images/image-floor-photo4.jpg" alt="3F PATA²のイメージ" width="830" height="415">
              </div>
              <div class="c-card-floor-detail">
                <div class="c-card-floor-illust">
                  <img src="./assets/images/image-floor-illust4.png" alt="3F PATA²のイラスト" width="224" height="168">
                </div>
                <p class="c-card-floor-text">
                  可動什器を取り入れ、会社の状況に合わせたカスタマイズができる自由度が最も高いフロアです。小ぶりな什器で可動がしやすいため、人員増加にも対応できる自由自在・変幻自在のオフィスです。登記、郵便物の受け取りサービス、館内ビジネスマッチングサービス、1階の共用ラウンジ、ワークブースの利用も可能です。
                </p>
              </div>
            </div>
          </article>
          <article class="c-card-floor">
            <div class="c-card-floor-head">
              <h4 class="c-card-floor-title">4F SUKU²</h4>
            </div>
            <div class="c-card-floor-block">
              <div class="c-card-floor-kv">
                <img src="./assets/images/image-floor-photo5.jpg" alt="4F SUKU²のイメージ" width="830" height="415">
              </div>
              <div class="c-card-floor-detail">
                <div class="c-card-floor-illust">
                  <img src="./assets/images/image-floor-illust5.png" alt="4F SUKU²のイラスト" width="224" height="168">
                </div>
                <p class="c-card-floor-text">
                  ゆるやかなゾーニングや人の会話、集まりを生む仕掛けが企業ごとのカルチャー醸成を後押しします。 Zone-Aではコミュニケーション、Zone-Bでは集中した執務とメリハリを持って働くことが可能です。 中央のシンボルツリーのように企業も人も成長していけるオフィスです。登記、郵便物の受け取りサービス、館内ビジネスマッチングサービス、1階の共用ラウンジ、ワークブースの利用も可能です。
                </p>
              </div>
            </div>
          </article>
          <article class="c-card-floor">
            <div class="c-card-floor-head">
              <h4 class="c-card-floor-title">5F KOTO²</h4>
            </div>
            <div class="c-card-floor-block">
              <div class="c-card-floor-kv">
                <img src="./assets/images/image-floor-photo6.jpg" alt="5F KOTO²のイメージ" width="830" height="553">
              </div>
              <div class="c-card-floor-detail">
                <div class="c-card-floor-illust">
                  <img src="./assets/images/image-floor-illust6.png" alt="5F KOTO²のイラスト" width="224" height="248">
                </div>
                <p class="c-card-floor-text">
                  最上階なので日差しが差し込む天窓と窓面が大きいバルコニーがあり、開放感のある空間。 開放的な空間だからこそ、集中力が高まるよう、人の視線が気にならないレイアウトになっています。 中央のシンボルツリーは社内マスコットとして可愛がってあげてください。登記、郵便物の受け取りサービス、館内ビジネスマッチングサービス、1階の共用ラウンジ、ワークブースの利用も可能です。
                </p>
              </div>
            </div>
          </article>
        </section>
      </div>
    </section>
    <section class="p-top-price" id="price">
      <h2 class="c-title-kv">PLAN & PRICE</h2>
      <div class="p-top-price-inner l-inner">
        <div class="p-top-price-block">
          <article class="c-card-plan p-top-price-item" id="price-b1">
            <h3 class="c-card-plan-title">
              <span class="c-title-square is-small">B1F</span>
              <span class="c-card-plan-title-text">DROP IN</span>
            </h3>
            <div class="c-table-border">
              <table>
                <tbody>
                  <tr>
                    <td>1H</td>
                    <td>1日最大</td>
                  </tr>
                  <tr>
                    <td>〜600円(税込)</td>
                    <td>〜2,200円(税込)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>
          <p class="p-top-price-buttons">
            <a href="#floor-b1" class="c-button-border">B1Fの館内詳細</a>
          </p>
        </div>
        <div class="p-top-price-block">
          <article class="c-card-plan p-top-price-item" id="price-1">
            <h3 class="c-card-plan-title">
              <span class="c-title-square is-small">1F</span>
              <span class="c-card-plan-title-text">DROP IN</span>
            </h3>
            <div class="c-table-border">
              <table>
                <tbody>
                  <tr>
                    <td>1H</td>
                    <td>1日最大</td>
                  </tr>
                  <tr>
                    <td>〜600円(税込)</td>
                    <td>〜2,200円(税込)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>
          <article class="c-card-plan p-top-price-item">
            <h3 class="c-card-plan-title">
              <span class="c-title-square is-small">1F</span>
              <span class="c-card-plan-title-text">Co-WORK</span>
            </h3>
            <div class="c-table-border">
              <table>
                <tbody>
                  <tr>
                    <td>月額</td>
                  </tr>
                  <tr>
                    <td>22,000円(税込)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>
          <p class="p-top-price-buttons">
            <a href="#floor-1" class="c-button-border">1Fの館内詳細</a>
          </p>
        </div>
        <div class="p-top-price-block">
          <article class="c-card-plan p-top-price-item">
            <h3 class="c-card-plan-title">
              <span class="c-title-square is-small">2F</span>
              <span class="c-card-plan-title-text">SAMLL SETUP OFFICE</span>
            </h3>
            <div class="c-table-border">
              <table>
                <tbody>
                  <tr>
                    <td>2F-A</td>
                    <td>2F-B</td>
                  </tr>
                  <tr>
                    <td>10.54坪</td>
                    <td>14.18坪</td>
                  </tr>
                </tbody>
              </table>
              <p class="c-table-border-bottom">詳細はお問い合わせください</p>
            </div>
          </article>
          <p class="p-top-price-buttons">
            <a href="#floor-2" class="c-button-border">2Fの館内詳細</a>
            <a href="/business/colony_15/contact/" class="c-button-border">お問い合わせ</a>
          </p>
        </div>
        <div class="p-top-price-block">
          <article class="c-card-plan p-top-price-item">
            <h3 class="c-card-plan-title">
              <span class="c-title-square is-small">3-5F</span>
              <span class="c-card-plan-title-text">SETUP OFFICE</span>
            </h3>
            <div class="c-table-border">
              <table>
                <tbody>
                  <tr>
                    <td>3F</td>
                    <td>4F</td>
                    <td>5F</td>
                  </tr>
                  <tr>
                    <td>24.75坪</td>
                    <td>24.75坪</td>
                    <td>16.00坪</td>
                  </tr>
                </tbody>
              </table>
              <p class="c-table-border-bottom">詳細はお問い合わせください</p>
            </div>
          </article>
          <p class="p-top-price-buttons">
            <a href="#floor-3" class="c-button-border">3-5Fの館内詳細</a>
            <a href="/business/colony_15/contact/" class="c-button-border">お問い合わせ</a>
          </p>
        </div>
      </div>
    </section>
    <section class="p-top-map" id="access">
      <div class="p-top-map-inner l-inner">
        <h2 class="c-title-bar">ACCESS</h2>
        <article class="c-card-map p-top-map-map">
          <div class="c-card-map-detail">
            <h3 class="c-card-map-title">フレキシブルオフィスColony#15高田馬場</h3>
            <p class="c-card-map-text">
〒169-0075<br>
東京都新宿区高田馬場一丁目29-1<br>
<br>
ＪＲ山手線/東京メトロ東西線/西武新宿線「高田馬場」駅　戸山口(JR東側)徒歩3分 
            </p>
          </div>
          <div class="c-card-map-image">
            <img src="./assets/images/image-map.svg" alt="フレキシブルオフィスColony#15高田馬場の地図" width="390" height="332">
          </div>
        </article>
        <article class="c-card-visual p-top-map-kv">
          <h3 class="c-card-visual-title" style="background-image: url('/assets/images/image-map-kv.jpg');">
            高田馬場とColony＃
          </h3>
          <div class="c-card-visual-content">
            <p class="c-card-visual-text">高田馬場は、言わずと知れた学生の街。早稲田大学など多くの大学・専門学校・予備校が集まっており、喫茶店やファミレスで勉強をする姿、夜は居酒屋で楽しく交流する姿が多くみられ、街には若さと活気が溢れている。</p>
            <p class="c-card-visual-text">高田馬場駅はJR山手線・西武新宿線・東京メトロ東西線３線が乗り入れ、交通の利便性の高さ、乗換駅としての乗降客数の多さなど、人が集まる要素が高いのも特徴。オフィス街ではないものの大型のビル、中小型の事務所なども多く存在し、意外にも昼間は社会人を多く見かける。</p>
            <p class="c-card-visual-text">決まった色はなく、学生・社会人・外国人など多くの人が過ごす街。</p>
            <p class="c-card-visual-text">そんな文化の交差点で、明るい将来を目指しながら様々な分野で学ぶ学生が、徐々に成長していくように刺激を受けながら、1名オフィス→スモールオフィス→スタンダードオフィスへと成長を遂げていくColony＃。活気と刺激があって成長できる要素が一か所に詰まった情報集積地としての館（やかた）をADWがプロデュース。テナント企業様が成長できるような建物内、建物外との交流できる仕掛けも企てていきます。</p>
            <p class="p-top-price-buttons">
                <a href="/business/colony_15/contact/" class="c-button-border">お問い合わせ</a>
            </p>
          </div>
        </article>
      </div>

    </section>
    <div class="p-top-nav">
      <nav class="c-nav-top">
        <a href="#concept" class="c-nav-top-link">コンセプト</a>
        <a href="#merit" class="c-nav-top-link">メリット</a>
        <a href="#floor" class="c-nav-top-link">館内詳細</a>
        <a href="#price" class="c-nav-top-link">プランと料金</a>
        <a href="#accss" class="c-nav-top-link">アクセス</a>
      </nav>
    </div>
    <%#
    <section class="p-top-form" id="contact">
      <h2 class="c-title-bar">お問い合わせ</h2>
      <div class="p-top-form-inner">
        <div class="c-form-contact">
          <div class="component form">
            <form class="contact_form">
              <div class="group">
                <label class="form-label require">お名前*</label>
                <div class="form-cont">
                  <input type="text" class="entry-component require">
                </div>
              </div>
              <div class="group">
                <label class="form-label require">ご連絡先<br>メールアドレス*</label>
                <div class="form-cont">
                  <input type="text" class="entry-component require">
                </div>
              </div>
              <div class="group">
                <label class="form-label">お問い合わせ<br>内容*</label>
                <div class="form-cont"><textarea class="entry-component require"></textarea></div>
              </div>
              <div class="group">
                <div class="form-submit"><input type="submit" name="commit" class="popup-link btn disabled" value="送　信" disabled=""></div>
              <button name="button" type="button" class="contact-submit"></button></div>
            </form>
          </div>
        </div>
        <div class="p-top-form-totop">
          <a href="#top" class="c-button-totop">
            <img src="./assets/images/icon-totop.svg" alt="" width="40" height="40" class="c-button-totop-icon">
            <span class="c-button-totop-text">TOP</span>
          </a>
        </div>
      </div>
    </section>
	%>
  </main>
  <%- include('./include/_footer') %>  
</div>
