.c-card-article {
  background: $base-white;
  border-radius: 20px;
  padding: 45px 45px 65px;
}

.c-card-article-title {
  color: $base-deep-green;
  font-size: 24px;
  margin-bottom: 45px;
  text-align: center;
}
