.c-card-article {
  background: $base-white;
  border-radius: 20px;
  padding: 45px 45px 65px;

  @include sp {
    border-radius: 10px;
    margin: 0 $margin-sp-side;
    padding: 15px 20px 10px;
  }

  &-title {
    color: $base-deep-green;
    font-size: 24px;
    margin-bottom: 38px;
    text-align: center;

    @include sp {
      font-size: 12px;
      margin-bottom: 15px;
    }
  }

  &-text {
    line-height: 1.5;
  }
}

.c-card-feature {
  &-block {
    display: grid;;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  
  &-title {
    align-items: center;
    background: $base-deep-green;
    color: $base-white;
    display: flex;
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    min-height: 45px;
    padding: 0 30px;
  }

  &-icon {
    margin-right: 10px;
  }

  &-content {
    background: $base-beige;
    padding: 23px 30px 20px;
  }
}

.c-card-floor {
  & + & {
    margin-top: 45px;
  }

  &-head {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    position: relative;
  }

  &-title {
    bottom: 0;
    color: $base-deep-green;
    font-size: 23px;
    left: 0;
    letter-spacing: -.075em;
    position: absolute;
  }

  &-detail {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &-text {
    @include pc {
      width: 556px;
    }
  }

  &-button {
    margin: 25px auto 0;
  }
}

.c-card-plan-title {
  align-items: center;
  display: flex;
  font-size: 23px;
  margin-bottom: 20px;
}

.c-card-plan-title-text {
  margin-left: 30px;
}

.c-card-map {
  display: flex;
  flex-direction: row-reverse;
  &-image {
    flex: 1;
    font-size: 0;
  }

  &-detail {
    flex: 1;

    @include pc {
      margin-left: 50px;
    }
  }

  &-title {
    margin-bottom: 2em;
  }
}

.c-card-visual {
  &-title {
    align-items: center;
    display: flex;
    color: $base-white;
    font-size: 23px;
    font-weight: bold;
    justify-content: center;
    min-height: 250px;
  }

  &-content {
    margin-top: 27px;
  }

  &-text {
    & + & {
      margin-top: 1em;
    }
  }
}
