.c-form-contact {
  .component.form {
    .group {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      @include sp {
        margin-bottom: 15px;
      }

      &:first-child {
        .form-label {
          padding-top: 30px;
        }
      }
    }

    .form-label,
    .form-cont {
      font-size: 16px;
      min-height: 90px;

      @include sp {
        font-size: 10px;
        min-height: 45px;
      }
    }

    .form-label {
      background: $base-deep-green;
      color: $base-white;
      font-weight: bold;
      

      @include pc {
        padding: 20px 0 0 30px;
        width: 200px;
      }

      @include sp {
        padding: 6px 0 0 6px;
        width: 88px;
      }
    }

    .form-cont {
      border: 1px solid $base-form-border;
      padding: 30px;
      flex: 1;

      @include sp {
        display: flex;
        padding: 15px;
      }
    }

    .contact-submit {
      display: none;
    }

    .form-submit {
      text-align: center;
      .popup-link {
        background: $base-deep-green;
        color: $base-white;

        @include pc {
          font-size: 20px;
          padding: 15px 60px;
          width: 340px;
        }

        @include sp {
          font-size: 10px;
          padding: 5px 10px;
          width: 104px;
        }
      
        &.disabled {
          opacity: .3;
          pointer-events: none;
        }

      }
    }

    input[type=text],
    textarea {
      border: 1px solid $base-form-border;
      border-radius: 8px;
      width: 100%
    }

    input[type=text] {
      height: 30px;

      @include sp {
        height: 15px;
      }
    }

    textarea {
      height: 215px;

      @include sp {
        height: 110px;
      }
    }
  }
}

