.c-kv {
  background-color: $base-white;
  background-image: url('../images/image-kv1.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  color: $base-white;
  margin: 0 auto;
  padding: 60px 0 35px;
  position: relative;
  text-align: center;

  @include pc {
    height: 391px;

    &::before,
    &::after {
      background: $base-white;
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      width: 10px;
    }
  
    &::before {
      left: 0;
    }
  
    &::after {
      right: 0;
    }
  }

  @include sp {
    background-size: cover;
    padding: 32px 0;
  }

  &-title {
    font-size: 49px;

    @include sp {
      font-size: 15px;
    }
  }

  &-lead {
    font-size: 22px;
    letter-spacing: .05em;
    line-height: 1.7;
    margin-top: 20px;

    @include sp {
      font-size: 11px;
      line-height: 1.5;
    }
  }
}
