.c-kv {
  background-color: $base-black;
  background-image: url('../images/image-kv1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 391px;
  color: $base-white;
  text-align: center;
}

.c-kv-title {
  font-size: 49px;
}

.c-kv-lead {
  font-size: 22px;
  letter-spacing: .05em;
}

.c-kv-button {
  max-width: 370px;
  margin: 0 auto;
}
