.c-nav-footer {
  font-weight: bold;

  &-title {
    margin-bottom: 15px;

    @include pc {
      font-size: 18px;
    }

    @include sp {
      margin-bottom: 8px;
    }
  }

  &-list {
    line-height: 2.2;

    @include pc {
      font-size: 16px;
    }

    @include sp {
      display: flex;
    }
  }

  &-list-item {
    @include sp {
      padding: 0 5px;
    }
  }
}

.c-nav-top {
  align-items: center;
  background: $base-black;
  color: $base-white;
  display: flex;
  font-size: 18px;
  justify-content: center;
  min-height: 70px;

  &-link {
    &:hover {
      opacity: .7;
    }
    &:nth-of-type(n+2) {
      margin-left: 70px;
    }
  }
}

