.c-table-border {
  background: $base-beige;
  padding: 30px;

  table {
    table-layout: fixed;
    width: 100%;
  }

  tr {
    &:not(:first-child) {
      border-top: 1px solid $base-white;
    }
  }

  td {
    padding: 10px 25px;
    &:not(:first-child) {
      border-left: 1px solid $base-white;
    }
  }

  &-bottom {
    line-height: 1.2;
    margin-top: 28px;
    text-align: center;
  }
}
