.c-title-bar {
  align-items: center;
  border-bottom: 2px solid $base-black;
  border-top: 2px solid $base-black;
  display: flex;
  font-size: 23px;
  font-weight: bold;
  justify-content: center;
  position: relative;
  min-height: 60px;

  @include sp {
    font-size: 12px;
    min-height: 30px;
  }

  &-number {
    @include sp {
      width: 48px;
    }
  }

  &-icon {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;

    @include sp {
      width: 21px;
    }
  }
}

.c-title-kv {
  color: $base-white;
  font-size: 49px;
  font-weight: bold;
  text-align: center;

  @include sp {
    font-size: 15px;
  }
}

.c-title-square {
  align-items: center;
  background: $base-deep-green;
  color: $base-white;
  display: flex;
  font-size: 23px;
  justify-content: center;
  letter-spacing: .15em;
  min-height: 70px;
  padding: 8px;
  text-align: center;

  @include sp {
    font-size: 10px;
    min-height: 25px;
    padding: 4px;
  }

  &.is-small {
    letter-spacing: 0;

    @include pc {
      min-height: 40px;
      min-width: 77px;
      padding: 0 8px;
    }

    @include sp {
      min-height: 20px;
      min-width: 38px;
      padding: 0;
    }
  }
}
