.l-footer {
  align-items: center;
  background: $base-black;
  color: $base-white;
  display: flex;
  justify-content: center;
  padding: 45px 0;
  width: 100%;

  @include sp {
    padding: 10px 0 20px;
    text-align: center;
  }
}
