.p-footer {
  display: flex;
  flex-wrap: wrap;
  max-width: $width-pc-inner;
  margin: 0 auto;
}

.p-footer-overview,
.p-footer-nav {
  flex: 1;
}

.p-footer-overview-text {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.p-footer-buttons {
  display: flex;
}

.p-footer-buttons-item {
  margin-right: 30px;
}

.p-footer-nav {
  padding-left: 50px;
}

.p-footer-copy {
  font-size: 15px;
  line-height: 1.8;
  text-align: center;
  width: 100%;
  margin: 43px 0 0;
}

