.p-top-kv {
  background: $base-black;
  padding-bottom: 36px;

  @include sp {
    padding-bottom: 18px;
  }

  &-button {
    margin: 25px auto 0;
    max-width: 370px;

    @include sp {
      margin: 15px auto 0;
      max-width: 185px;
    }
  }
}
.p-top-about {
  background: $base-beige;

  @include pc {
    padding: 50px 10px 60px;
  }

  @include sp {
    padding: 20px 0 30px;
  }

  &-inner {
    margin: 0 auto;
    max-width: $width-pc-inner;
  }
}

.p-top-vision {
  margin-top: 50px;

  @include sp {
    margin-top: 25px;
  }

  &-title {
    @include sp {
      margin: 0 $margin-sp-side;
    }
  }

  &-head {
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;

    @include sp {
      font-size: 12px;
      margin: 10px $margin-sp-side 0;
    }
  }

  &-lead {
    margin-top: 10px;
    text-align: center;

    @include sp {
      margin: 10px $margin-sp-side 0;
    }
  }

  &-image {
    font-size: 0;
    margin-top: 25px;

    @include sp {
      margin-top: 12px;
    }
  }

  &-text {
    margin-top: 25px;

    @include sp {
      margin: 10px $margin-sp-side 0;
    }
  }
}

.p-top-merit {
  padding-bottom: 70px;

  @include sp {
    padding-bottom: 25px;
  }

  &-kv {
    align-items: center;
    background: url('../images/image-merit-kv.jpg') center top / cover no-repeat;
    display: flex;
    justify-content: center;
    margin: 0 auto 70px;
  
    @include pc {
      height: 391px;
      margin-bottom: 70px;
      width: calc(100% - 20px);
    }

    @include sp {
      height: 90px;
      margin-bottom: 24px;
    }
  }

  &-inner {
    margin: 0 auto;
    max-width: $width-pc-inner;
  }

  &-title {
    @include sp {
      margin: 0 $margin-sp-side;
    }
  }

  &-image {
    align-items: flex-start;
    background: $base-beige;
    display: flex;
    justify-content: center;
  
    @include pc {
      margin-top: 50px;
      padding-top: 43px;
      min-height: 303px;
    }

    @include sp {
      margin-top: 25px;
      padding: 10px 0 15px;
      img {
        width: 50%;
      }
    }
  }

  &-text {
    margin: 45px 0;

    @include sp {
      margin: 12px 0 16px;
      padding: 0 $margin-sp-side;
    }
  }
}

.p-top-floor {
  background-color: $base-beige;
  background-image: url('../images/image-floor-kv.jpg');
  background-repeat: no-repeat;
  background-size: 100% 684px;
  padding: 84px 0 70px;

  @include sp {
    background-size: 100% 213px;
    padding: 30px $margin-sp-side;
  }

  &-inner {
    margin-top: 80px;

    @include sp {
      margin-top: 32px;
    }
  }

  &-title {
    margin-bottom: 32px;

    @include sp {
      margin-bottom: 12px;
    }
  }

  &-section {
    & + & {
      margin-top: 88px;

      @include sp {
        margin-top: 34px;
      }
    }
  }
}

.p-top-price {
  background-color: $base-beige;
  background-image: url('../images/image-price-kv.jpg');
  background-repeat: no-repeat;
  background-size: 100% 1024px;
  padding: 84px 0 70px;

  @include sp {
    background-size: 100% 213px;
    padding: 30px $margin-sp-side 15px;
  }

  &-inner {
    margin-top: 80px;

    @include sp {
      margin-top: 32px;
    }
  }

  &-block {
    & + & {
      margin-top: 50px;

      @include sp {
        margin-top: 15px;
      }
    }
  }

  &-item {
    & + & {
      margin-top: 50px;
      
      @include sp {
        margin-top: 15px;
      }
    }
  }

  &-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @include sp {
      margin-top: 15px;
    }
  
    & > * {
      &:not(:first-child) {
        @include pc {
          margin-left: 50px;
        }

        @include sp {
          margin-left: auto;
        }
      }
    }
  }
}

.p-top-map {
  background-color: $base-beige;
  padding:0 0 70px;
  position: relative;

  @include sp {
    padding-bottom: 25px;
  }
  
  &::before {
    background: $base-deep-green;
    content: "";
    height: 400px;
    position: absolute;
    top: -235px;
    width: 100%;

    @include sp {
      height: 100px;
      top: -55px;
    }
  }

  &-inner {
    @include sp {
      margin:0 $margin-sp-side;
    }
    
  }

  &-map {
    margin-top: 48px;

    @include sp {
      margin-top: 10px;
    }
  }

  &-kv {
    margin-top: 52px;

    @include sp {
      margin-top: 22px;
    }
  }
}

.p-top-nav {
  @include sp {
    display: none;
  }
}

.p-top-form {
  margin: 0 auto;
  max-width: $width-pc-inner;
  padding: 70px 0 50px;

  @include sp {
    padding: 25px $margin-sp-side 10px;
  }


  &-inner {
    margin-top: 50px;

    @include sp {
      margin-top: 15px;
    }
  }

  &-totop {
    text-align: center;
  }
}
