    <footer class="l-footer">
      <div class="p-footer">
        <div class="p-footer-overview">
          <p class="p-footer-overview-text">
            企画運営<br>
            株式会社エー・ディー・ワークス<br>
            〒100-0011<br>
            東京都千代田区内幸町 2-2-3 日比谷国際ビル 5 階<br>
            TEL:03-5251-7561 FAX:03-5251-7562
          </p>
          <ul class="p-footer-buttons">
            <li class="p-footer-buttons-item">
              <a href="" class="c-button-flat">公式サイト</a>
            </li>
            <li class="p-footer-buttons-item">
              <a href="" class="c-button-flat"><img src="/assets/images/icon-instagram.svg" alt="Instagram"></a>
            </li>
            <li class="p-footer-buttons-item">
              <a href="" class="c-button-flat"><img src="/assets/images/icon-facebook.svg" alt="Facebook"></a>
            </li>
          </ul>
        </div>
        <div class="p-footer-nav">
          <nav class="c-nav-footer">
            <h2 class="c-nav-footer-title">サイトコンテンツ</h2>
            <ul class="c-nav-footer-list">
              <li class="c-nav-footer-list-item">
                <a href="#concept" class="c-nav-footer-list-link">コンセプト</a>
              </li>
              <li class="c-nav-footer-list-item">
                <a href="#merit" class="c-nav-footer-list-link">メリット</a>
              </li>
              <li class="c-nav-footer-list-item">
                <a href="#floor" class="c-nav-footer-list-link">館内詳細</a>
              </li>
              <li class="c-nav-footer-list-item">
                <a href="#price" class="c-nav-footer-list-link">プランと料金</a>
              </li>
              <li class="c-nav-footer-list-item">
                <a href="#accss" class="c-nav-footer-list-link">アクセス</a>
              </li>
            </ul>
          </nav> 
        </div>
        <p class="p-footer-copy">Copyright © A.D.Works corporation All rights Reserved.</p>
      </div>
    </footer>
    <script src="/assets/js/script.js"></script>
</body>
</html>
