<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61020271-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js",new Date());

    gtag("config","UA-61020271-7");
  </script>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <meta name="format-detection" content="telephone=no" />
  <!-- [TDK] -->
  <title>Colony＃15　高田馬場｜株式会社エーディーワークス</title>
  <meta name="description" content="空間とコミュニティで支援する1棟フレキシブルオフィス、Colony＃15　高田馬場｜株式会社エーディーワークス" />
  <meta name="keywords" content="オフィス,セットアップオフィス,テナント募集,高田馬場" />
  <!-- [icon] -->
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://www.re-adworks.com/favicon.ico" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="https://www.re-adworks.com/favicon.ico" />
  <!-- [page_info] -->
  <link rel="canonical" href="https://www.re-adworks.com/business/colony_15/" />
  <link rel="start" href="https://www.re-adworks.com/" title="Home" />
  <!-- [ogp] -->
  <meta property="og:locale" content="ja_JP" />
  <meta property="fb:app_id" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Colony＃15　高田馬場｜株式会社エーディーワークス" />
  <meta property="og:title" content="Colony＃15　高田馬場｜株式会社エーディーワークス" />
  <meta property="og:description" content="空間とコミュニティで支援する1棟フレキシブルオフィス、Colony＃15　高田馬場｜株式会社エーディーワークス" />
  <meta name="keywords" content="オフィス,セットアップオフィス,テナント募集,高田馬場" />
  <meta property="og:image" content="https://www.re-adworks.com/images/logo_opg.png" />
  <meta property="og:url" content="https://www.re-adworks.com/business/colony_15/" />
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
